body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 데스크톱: 8열 */
    grid-template-rows: repeat(20, 1fr); /* 데스크톱: 20행 */
    width: 100vw;
    height: 100vh;
    position: relative;
}

.grid-item {
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* 70% opacity black overlay */
    pointer-events: none; /* 클릭 이벤트를 통과 */
}

/* 모바일 스타일 */
@media screen and (max-width: 430px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 모바일: 3열 */
        grid-template-rows: repeat(29, 1fr); /* 모바일: 29행 */
        width: 100vw;
        height: 100vh;
    }

    .grid-item {
        width: calc(100vw / 3); /* 3열 너비 */
        height: calc(100vh / 29); /* 29행 높이 */
        background-size: 142.75px 32.12px; /* 이미지 크기 고정 */
    }
}
